/* General Page Styles */
/* Setting page height to keep footer at bottom. */
html {
    height: 100%;
}

/* Styles for headers in the navbar */
h1, h2 {
    font-size: 20px;
}

/* Styles for page content (start, questions and high score) */
h3 {
    font-size: 35px;
}

h3.start-header {
    text-align: center;
}

h1.code-quiz-header:hover, h2.high-score-header:hover {
    color: #007bff;
}

li, p {
    font-size: 20px;
}

p.start-header {
    text-align: center;
}

section.mx-auto.col-12.col-md-10.col-lg-8.col-xl-6 {
    max-width: 600px;
    min-width: 350px;
}

/* Styles for footer */
footer.container.mt-auto.border-top.border-primary.mx-auto {
    width: 260px;
}

footer.container img.bg-transparent.mb-4.mt-2.text-muted {
    height: 12px;
    width: 230px;
    opacity: 75%;
}